@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --card-background: #363B3C
}

.radial-gradient-white {
    background: radial-gradient(white, var(--card-background));
}

.white-top-down-gradient {
    -webkit-mask: linear-gradient(180deg, #fff, #fff, transparent);
    mask: linear-gradient(180deg, #fff, #fff, transparent);
}